<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <settings>
		<!-- 카멜케이스 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	 </settings>
 	<typeAliases>
		<typeAlias alias="TestVO" type="com.sample.vo.TestVO"/>
	</typeAliases>
	<!-- MyBatis mapper 파일이 추가될 때마다 지정해줘야 . --><!-- 
	<mappers>
		<mapper resource="/sql/mapper/user/UserMapper.xml"/>
	</mappers> -->
</configuration>